{{!-- this will render into main --}}
{{!-- Don't forget a button that will submit user input --}}

<h1>Welcome to the Big Burger Barn!</h1>


<section class="createdBurgers">
    <h2>Burgers are ready!</h2>
</section>

<section class="devouredBurgers">
    <h2>Devoured Burgers</h2>
</section>

<h3>Order your burgers here!</h3>
<form class="create-form">

    <div class="form-group">
        <label for="burgerOrder">What would you like to order?</label>
        <input type="text" id="burgerOrder" name="burgerOrder">
    </div>
</form>